.container{
    margin: 2rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    background-color: aqua;
    margin-top: 12%;
    box-shadow: 0px 0px 19px 0px #bd1839;

}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
}
h1
{
    text-align: center;
    font-style: oblique;
    color:rgb(255, 169, 56);
}
.question{
    font-weight: bold;
    font-size: larger;
    position: relative;
    left: 12px;
    color: rgb(26, 121, 168,0.90);

}
ul
{
    margin-left: 30px;
    list-style-type: lower-roman;
    
}
li{
    cursor: pointer;
    color: rgb(104, 67, 41);

}
.g{
    background-color:rgb(106, 161, 25);
    width: max-content;
}
.h{
    background-color: red;
    width: max-content;
   
    
}

#h2{
    text-align: center;
    top: 20px;
    position: relative;
    border-top:1px solid black;
    color: rgb(214, 176, 48,0.80)
}






